*{
    margin: 0;
    padding: 0;
}

.sec1{
    height: 110vh ;
    background-image: url(https://zuri.team/img/hero-bg.svg);
}
.hero-link{
  text-decoration: none;
}
#home {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
#motto {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3ex;
  color: #514949;
}
#about {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #514949;
  margin-bottom: 20px;
  padding: 50px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
}
.fancy {
  text-align: center;
  font-family: Averta, sans-serif;
}

.section-btn {
  width: 250px;
  height: 45px;
  border-color: #e7332b;
  cursor: pointer;
  margin: 13px;
}

.btn1 {
  background-color: #e7332b;
  color: #fff;
  border: none;
}

.btn2 {
  background-color: #fff;
  border-width: 1px;
  color: #e7332b;
}
#heading2 {
 margin-top: 40px;
}
.zut {
  color: #e7332b;
  display: flex;
  justify-content: center;
  font-family: Averta, sans-serif;
  font-weight: 200;
}
.zuri {
  color: #514949;
  display: flex;
  justify-content: center;
  width: 380px;
  margin: 0 auto;
  font-family: Averta, sans-serif;
  font-weight: 200;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
  }
  .col{
    background: #fffafa;
    border-radius: 10px;
    padding: 60px 40px 80px 40px;
    box-sizing: border-box;
    font-stretch: expanded;
    color: #514949;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    line-height: 1.5;
  } 

  .col p{
    text-align: center;
    width: 300px;
    
  }
  .link{
    color: #e7332b;
    text-decoration-line: none;
  }

  #foot{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 200px 10px 0 10px;
  }
  
  .footer1{
margin: 10px;
margin-right: 20px;
  }
  .footer2{
margin: 11px;
  }
  .footer3{
margin: 11px;
  }
  .footer1 a{
    text-decoration: none;
    display:block;
    color: #e7332b;
  }
  .footer2 a{
    text-decoration: none;
    color:#e7332b;
  }


         /* zuri.styling */
 #style{
        background-color: rgb(245, 240, 240);
    }
.whiteb{
    background-color: rgb(245, 240, 240);
}
header{
    display: flex;
}
.vision p{
    font-family: Averta, sans-serif;
    max-width: 450px;
    margin-right: 350px;  
}
.nav-h{
  background: #e7332b;
  text-decoration: none;
  margin-left: 35px;
 font-family: Averta, sans-serif;
 border-radius: 4px;
 padding: 14px; 
font-size: 15px;
color: #ffffff;
}
  .menu-list{
    display: flex;
    list-style: none;
    margin-left: 350px;
    font-size: 20px;
    padding: 20px;
  }
  .menu {
    margin-left: 50px;
    text-decoration: none;
    color: #514949;
  }
  #log{
    margin-left: 100px;
  }
  .img1{
    display:flex;
    justify-content: right;
    margin-top: 50px;
  }
  .yline{
    color:#e7332b;
  }
  .fs-line{
    width: 108px;
    margin-left: 505px;
  }
  .v{
    margin-top: 100px;
    font-family: Averta, sans-serif;
    margin-left: 100px;
    font-size: 40px;
  }
  .guy{
    margin-right: 100px;
    max-height: 375px;
  }
  .pi{
    font-family: Averta, sans-serif;
    margin-top: 30px;
    color: #585858;
    opacity: 0.9;
    font-size: 19px;
    margin-left: 100px;
  }
.link3{
text-decoration: none;
}
.button{
    margin-left: 100px;
    font-family: Averta, sans-serif;
    margin-bottom: 150px;
    margin-top: 32px;
    
}
.link2{
    width: 180px;
  height: 40px;
  background-color: #e7332b;
  border-color: #e7332b;
  color: #fff;
  border: none;
  font-size: 17px;
  margin-right: 5px;
 border-bottom-right-radius: 10px; 
}
.link24{
    width: 200px;
    height: 40px;
    background-color: #585858;
    padding: 11px 50px;
    color: #ffffff;
    border: none;
    font-size: 17px; 
    margin-left: 5px;
    border-bottom-right-radius: 10px;
}

.p-image {
    display:flex;   
    background-image: url(https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png);
}

.thousand{
    color: #e7332b;
    text-decoration: none;
    font-family: Averta, sans-serif;
}

.red{
    color: rgb(231, 51, 43);
    text-decoration: none;
    font-family: Averta, sans-serif;
}
.bk{
    margin-top: 100px;
    margin-left: 90px;
    max-width: 450px;
    line-height: 1.4;
    font-weight: 00;
    font-family: Averta, sans-serif;
}
.bitmoji{
    margin-left: 350px;
    margin-top: 80px;
}
.bg{
    font-family: Graphik!;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}
.bq{
color: #585858;
font-size: 20px;
}
.we{
    font-family: Averta, sans-serif;
    font-size: 40px;
}
.r{
    font-family: Averta, sans-serif;
    font-size: 40px;
    max-width: 400px;
    margin-top: 80px;
    margin-left: 90px;
}  
#icons{
    max-width: 1080px;
}
.brief{
  background: #fff;
  padding: 5px;
  box-shadow: 80px;
}
#style{
  background: #ffffff;
}
.icon09{
    display: flex;
    justify-content: center;
    list-style: none;      
}
.icon1{
    padding: 20px;
    font-family: Averta, sans-serif;
    color: #585858;
    font-size: 17px;  
}
#git{
    max-width: 1080px;
}
.l1svg{
width: 300px;
}
/* important>> */
.svg1{
  display: flex;
  justify-content: right;
}
.wotw{
    font-family: Averta, sans-serif;
    font-size: 40px;
    margin-top: 30px;
    max-width: 1000px; 
    margin-left: 90px;
}
.git09{
    display: flex;
    justify-content: center;
    list-style: none;
}
.git1{
    padding: 20px;
    font-family: Averta, sans-serif;
    color: #585858;
    font-size: 17px; 
}
.row{
    margin-top: 5%;
    display: flex;
    
  }
  .about-col{
    flex-basis: 31%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 25px;
    box-sizing: border-box;
    letter-spacing: 0.00938em;
    color: #787878;
    padding: 15px;
    font-family: Averta, sans-serif;
    font-size: 17px;
    
  } 

.grid2{
    background-color: #fff8E5;
}
.flex1{
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;

}
.flex2{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    height: 350px;
    margin-left: 50px;
      
}
.img9{
    margin-left: 100px;
    margin-top: 40px;
}
.grid2 p{
    letter-spacing: 0.00938em;
    margin-left: 15px; 
    margin-top: 15px; 
    
}
.ten{
    margin-left: 200px;
}
.one{
    margin-right: 100px;
}
.hands{
    font-family: Averta, sans-serif;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
}
.mutton{
    margin-left: 400px;
    font-family: Averta, sans-serif;
    /* margin-bottom: px; */
    margin-top: 32px;
}
.bobo{
    margin-bottom: 100px;
}
.footerzuri-talent{
  display: flex;
  justify-content: space-around;
  background-color: #161617;
  padding: 50px;
}
.footerimg{
  margin-right: 900px;
  /* margin-top: ; */
}
.blackbg{
  padding: 16px;
}
.pfootr{
  color: #ffffff;
  padding: 16px;
}
#iconbox{
  display: flex;
}
.fa-brands{
  color: rgb(184, 184, 184);
  font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
}
#box{
  width: 900px;
}

/* ingressive4goodstyling */

.ig4header{
  padding: 25px;
}
.ig4-list{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 250px;
  font-size: 20px;
  padding: 20px;
  margin: 0 auto;
 
}

.ig4navbar{
  margin-left: 70px;
  color: #585757;
  text-decoration: none;
  font-family: Averta, sans-serif;
}
.ig4red{
  color: #e7332b;
  font-family: Averta, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  margin-top: 50px;
}
.ig4mainp{
    color: #1b1a20;
    font-family:  Averta, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding-top: 10px;
    width: 450px;
    text-align: center;
}
.picture{
  display: flex;
  justify-content: center;
}

.redbtn{
  width: 180px;
  height: 40px;
  background-color: #fe1408;
  border-color: #fe1408;
  color: #fff;
  border: none;
  font-size: 17px;
  margin-right: 5px;
 border-radius: 20px;
 cursor: pointer;
 
}
.r-btn{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.red-arrow{
margin-left: 300px;
margin-top: 10px;
}
.ig4w{
  color: #1b1a20;
  font-family: Averta, sans-serif;
  font-size: 18px;
  opacity: 0.9;
  width: 350px;
  margin: 0 auto;
  text-align: center; 
}
.ahb{
margin-right: 100px;
padding: 10px;
}
.twistr{
  margin-right: 2px;
}
.squirly-red{
padding: 5px;
}
.vertical{
  display: flex;
  justify-content: center;
  margin: 50px;
  padding: 20px;
 height: 90px;
}
.aboutig4{
width: 450px;
align-self: center;
font-size: 23px;
line-height: 1.5;
font-family: Roboto, Helvetica, Arial, sans-serif;
letter-spacing: 0.00940em;
font-weight: 700;

margin-right: 120px;
}
.goals{
width: 450px;
align-self: center;
font-family: Roboto, Helvetica, Arial, sans-serif;
font-size: 23px;
line-height: 1.5;
letter-spacing: 0.00938em;
font-weight: 200;
color: #1b1a20;
margin-left: 120px;
text-align: left;
}
.ingressivelogo{
align-self: center;
}
.inline-text{
  color: #43b97f;
  cursor: pointer
}
.s-arrow{
  margin-left: 250px;
  padding: 40px;
}
.p-arrow1{
  color: #e7332b;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 200;
  margin-left: 75px;
}
.p-arrow2{
  color: #1b1a20;
  font-family: Averta, sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 650px;
  margin-left: 75px; 
  align-self:center;
} 
.star{
  display: flex;
}
.star1{
  align-self: center;
  margin-left: 100px;
}
#parentdiv{
  background-color: rgb(254, 230, 234);
}
.parentdiv1{
  margin-top: 30px;
  display: flex;
    justify-content: space-around;
    max-width: 1000px;
    height: 450px;
    margin-left: 70px;
    margin-right: 30px;
    
  }
.parentdiv2{
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  height: 450px;
  margin-left: 70px;
  margin-right: 30px;
  
}
.divbox{
  flex-basis: 31%;
    background-color: #fff;
    border-radius: 18px;
    margin-bottom: 3%;
    padding: 20px 25px;
    box-sizing: border-box;
    letter-spacing: 0.00938em;
    padding: 1px;
    font-size: 17px;
    box-shadow: 0 11px 22px;
}
.square1{
  background-color: #e7332b;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
}
.num1{
  font-size: 60px;
  font-weight: 700;
  margin-left: 25px;
  font
}
.fullyr{
  font-size: 30px;
  font-weight: 500;
  width: 30px;
  margin-left: 25px;
}
.mini-text{
  margin-top: 15px;
  margin-left: 25px;
  font-size: 18px;
  font-family: Averta, sans-serif;
}
.mooncurve{
margin-left: 200px;
}
.handoe{
font-size: 30px; 
font-weight: 600;
font-family: Averta, sans-serif;
width: 150px;
margin-left: 25px;
  
}
.num2{
  font-size: 60px;
  font-weight: 600;
  margin-left: 25px;
  font-family: Averta, sans-serif;
}
.mini-text1{
  margin-top: 15px;
  margin-left: 25px;
  font-size: 18px;
  font-family: Averta, sans-serif;
  width: 250px;
}
.divbox :hover{
margin-bottom: 5px 1ms;



}
/* .numbox1{
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: 350px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}
.numbox2{
  display: flex;
  justify-content: space-around;   
      
} */
/* .square{ */
  /* flex-basis: 31%;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 11px 22px;
  margin-bottom: 5%;
  /* padding: 20px 25px; */
  /* box-sizing: border-box;
  letter-spacing: 0.00938em;
  color: black;
  padding: 15px;
  /* font-family: Averta, sans-serif;
  font-size: 17px; */  */
/* } */
/* .divbox4{
width: 50px;
}
.divbox5{

}
.divbox6{

} */